.converter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  margin: 15px auto;
  border: 1px solid black;
  padding: 15px;
}

.form {
    display: flex;
    flex-direction: column;
}

.converter #hex {
    width: 150px;
    height: 25px;
    text-align: center;
}

.converter #rgb {
    width: 150px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    margin: 25px auto;
}
